{% extends 'base_baby.html' %}

<h1>{% block title %}足迹{% endblock %}</h1>
{% block pageName %}{{footprint['footprint_name']}}{% endblock %}
{% block content %}

<div class="row img-rounded" style="margin:50px 10px 50px">
    {% for ph in photo%}
    <div class="col-xs-6" style="margin:10px 0px 10px;max-weight:150px;max-height:220px;overflow-x: hidden">
        {% if ph['file_type']==0 %}
        <a href="{{ url_for('album.album_detail',album_id=ph['id']) }}">
            <img src="{{ url_for('static',filename=ph['small_img_path'])}}"
                 class="img-rounded" style="width:150px;height:150px;"/></a>
        {% else %}
        <a href="{{ url_for('album.album_detail',album_id=ph['id']) }}">
            <video style="width:150px;height:150px;" controls>
                <source src="{{ url_for('static',filename=ph['img_path'])}}" type="video/mp4">
            </video>
        </a>
        {% endif %}
        <a href="{{ url_for('album.album_update',album_id=ph['id'])}}">
            <p>名称：<span class="text-left">{{ph['title']}}</span><br>
                描述：<span class="text-left">{{ph['body']}}</span></p>
        </a>
    </div>
    {% endfor %}

</div>
<div class="center-right">
    {% if page['page'] !=1 %}
    <div style="position:fixed;top:200px;right:5px">
        <a href="{{ url_for('footprint.footprint_detail',footprint_id=footprint['id'],page=page['page']-1,page_size=6) }}">
            <button class="" style="margin:10px 10px 10px">
                <i class="fa fa-chevron-up fa-2x" aria-hidden="true"></i>
            </button>
        </a>
    </div>
    {% endif %}
    {% if page['all_page'] > 1 %}
    <div style="position:fixed;top:250px;right:5px">
        <button class="btn" style="margin:10px 10px 10px">
            {{page['page']}}/{{page['all_page']}}
        </button>
    </div>
    {% endif %}
    {% if page['page'] < page['all_page'] %}
    <div style="position:fixed;top:300px;right:5px">
        <a href="{{ url_for('footprint.footprint_detail',footprint_id=footprint['id'],page=page['page']+1,page_size=6) }}">
            <button class="" style="margin:10px 10px 10px">
                <i class="fa fa-chevron-down fa-2x" aria-hidden="true"></i>
            </button>
        </a>
    </div>
</div>
{% endif %}
{% endblock %}