{% extends 'base_baby.html' %}

<h1>{% block title %}足迹{% endblock %}</h1>
{% block pageName %}宝宝足迹{% endblock %}
{% block content %}

<div class="row clearfix img-rounded" style="margin:50px 10px 10px">
    {% for footprint in footprints %}
    <div class="col-xs-6 text-center" style="margin:10px 0px 10px">
        <a href="{{ url_for('footprint.footprint_detail',footprint_id=footprint['id'],page=1,page_size=6) }}">
            {% if footprint['footprint_img'] == None %}
            <img style="weight:150px;height:150px" src="../static/img/s3.jpg" class="img-circle"/>
            {% else %}
            <img style="weight:150px;height:150px" src="{{ url_for('static',filename=footprint['footprint_img'])}}" class="img-circle"/>
            {% endif%}
        </a>
        <a href="{{ url_for('footprint.update_footprint',footprint_id=footprint['id'])}}">
            <div class="text-center">
                <span>{{ footprint['footprint_name'] }}</span>
            </div>
            <div class="text-right">
                <span>@{{ footprint['record_date'] }}</span>
            </div>
        </a>
    </div>
    {% endfor %}
</div>
<div class="row clearfix " style="margin:30px 10px 40px">
</div>
{% endblock %}