{% extends 'base_baby.html' %}

<h1>{% block title %}相册{% endblock %}</h1>
{% block pageName %}宝宝相册{% endblock %}
{% block content %}

<div class="row clearfix bg-primary img-rounded" style="margin:50px 10px 50px">
    <div class="col-xs-6" style="margin:10px 0px 10px">
        <img style="weight:150px;height:150px" src="../static/img/s3.jpg" class="img-rounded" />
        <em>2019-07-11</em><span>||</span><b>第1张</b>
    </div>
    <div class="col-xs-6" style="margin:10px 0px 10px">
        <img alt="40x40" style="weight:150px;height:150px" src="../static/img/s4.jpg" class="img-rounded" />
        <em>2019-07-11</em><span>||</span><b>第1张</b>
    </div>
    <div class="col-xs-6" style="margin:10px 0px 10px">
        <img alt="40x40" style="weight:150px;height:150px" src="../static/img/s3.jpg" class="img-rounded" />
        <em>2019-07-11</em><span>||</span><b>第1张</b>
    </div>
    <div class="col-xs-6" style="margin:10px 0px 10px">
        <img alt="40x40" style="weight:150px;height:150px" src="../static/img/s4.jpg" class="img-rounded" />
        <em>2019-07-11</em><span>||</span><b>第1张</b>
    </div>
    <div class="col-xs-6" style="margin:10px 0px 10px">
        <img alt="40x40" style="weight:150px;height:150px" src="../static/img/s4.jpg" class="img-rounded" />
        <em>2019-07-11</em><span>||</span><b>第1张</b>
    </div>
    <div class="col-xs-6" style="margin:10px 0px 10px">
        <img alt="40x40" style="weight:150px;height:150px" src="../static/img/s4.jpg" class="img-rounded" />
        <em>2019-07-11</em><span>||</span><b>第1张</b>
    </div>
    <div class="col-xs-6" style="margin:10px 0px 10px">
        <img alt="40x40" style="weight:150px;height:150px" src="../static/img/s4.jpg" class="img-rounded" />
        <em>2019-07-11</em><span>||</span><b>第1张</b>
    </div>
    <div class="col-xs-6" style="margin:10px 0px 10px">
        <img alt="40x40" style="weight:150px;height:150px" src="../static/img/s4.jpg" class="img-rounded" />
        <em>2019-07-11</em><span>||</span><b>第1张</b>
    </div>
    <div class="col-xs-6" style="margin:10px 0px 10px">
        <img alt="40x40" style="weight:150px;height:150px" src="../static/img/s4.jpg" class="img-rounded" />
        <em>2019-07-11</em><span>||</span><b>第1张</b>
    </div>
</div>
{% endblock %}