{% extends 'base_baby.html' %}

<h1>{% block title %}相册{% endblock %}</h1>
{% block pageName %}宝宝相册{% endblock %}
{% block content %}

<div class="row img-rounded" style="margin:50px 10px 50px">
    {% for ph in photo%}
    <div class="col-xs-6" style="margin:10px 0px 10px;max-weight:150px;max-height:220px;overflow-x: hidden">
        {% if ph['file_type']==0 %}
        <a href="{{ url_for('baby.album_detail',album_id=ph['id']) }}">
            <img src="{{ url_for('static',filename=ph['img_path'])}}"
                 class="img-rounded" style="width:150px;height:150px;"/></a>
        {% else %}
        <a href="{{ url_for('baby.album_detail',album_id=ph['id']) }}">
            <video style="width:150px;height:150px;" controls>
                <source src="{{ url_for('static',filename=ph['img_path'])}}" type="video/mp4">
            </video>
        </a>
        {% endif %}
        <a href="{{ url_for('baby.album_update',album_id=ph['id'])}}">
            <br>
            <p>名称：<span class="text-left">{{ph['title']}}</span>
                <br>描述：<span class="text-left">{{ph['title']}}</span>
                <br>日期：<span class="text-right">{{ph['record_date']}}</span></p>
        </a>
    </div>
    {% endfor %}

</div>
{% if page['page_count']<=6 and page['page'] !=1 %}
<div class="navbar navbar-fixed-bottom text-right">
    <a href="{{ url_for('baby.album',page=page['page']-1,page_size=6) }}">
        <button class="" style="margin:10px 30px 120px">
            <i class="fa fa-chevron-up fa-2x" aria-hidden="true"></i>
        </button>
    </a>
</div>
{% endif %}
{% if page['page_count']==6 and page['page_count'] < page['count'] %}
<div class="navbar navbar-fixed-bottom text-right">
    <a href="{{ url_for('baby.album',page=page['page']+1,page_size=6) }}">
        <button class="" style="margin:10px 30px 70px">
            <i class="fa fa-chevron-down fa-2x" aria-hidden="true"></i>
        </button>
    </a>
</div>
{% endif %}

{% endblock %}