{% extends 'base_baby.html' %}

<h1>{% block title %}主页{% endblock %}</h1>
{% block pageName %}宝宝主页{% endblock %}
{% block content %}

<div class="row clearfix bg-primary img-rounded"
     style="margin:50px 10px 10px ;overflow:hidden;">
    <h3 class="text-center">宝宝资料</h3>
    {% for baby in baby_info %}
    {% if baby['id'] == g.baby['id'] %}
    <a href="{{url_for('baby.update_baby_info',baby_id=baby['id'])}}">
        <div class="bg-success img-rounded" style="margin:10px 10px 0px">
            <p style="font-size:16px;margin:10px 20px 10px">
                姓名: &nbsp;
                <span style="color:#FF00CC">{{ baby['baby_name'] }}</span>
                <br>性别: &nbsp;
                {% if baby['baby_sex']==1 %}
                <span style="color:#FF00CC">男</span>
                {% elif baby['baby_sex']==0 %}
                <span style="color:#FF00CC">女</span>
                {% endif %}
                <br>生日: &nbsp;
                <span style="color:#FF00CC">{{ baby['birthday'] }}</span>
                <br>年龄: &nbsp;
                {% for age in ages %}
                {% if age['id']== baby['id'] %}
                <span style="color:#FF00CC">{{age['age']}}</span>
                {% endif %}
                {% endfor %}
                <br>寄语: &nbsp;
                <span style="color:#FF00CC">{{ baby['introduce'] }}</span>
            </p>
        </div>
    </a>

    <div style="position:relative; top:-120px;left:250px">
        <button data-toggle="modal" data-target="#defaultBaby">切换宝贝</button>
    </div>
    {% endif %}
    {% endfor %}
</div>
<div class="row clearfix bg-primary img-rounded"
     style="margin:10px 10px 10px ;overflow:hidden;">
    <h3 class="text-center">健康记录</h3>
    <div class="bg-primary img-rounded overflow:scroll;" width="340"
         style="margin:10px 10px 10px">
        <canvas class="bg-success" id="myCanvas" width="340" height="220">
            您的浏览器不支持 HTML5 canvas 标签。</canvas>

        <table class="table table-bordered text-center"  width="340">
            <tr>
                <th class="text-center">日期</th>
                <th class="text-center">身高/cm</th>
                <th class="text-center">体重/kg</th>
            </tr>
            {% for healthy in baby_healthy%}
            <tr>
                <td><a href="{{ url_for('baby.update_healthy',healthy_id=healthy['id']) }}">
                    <span style="color:#ffffff">{{ healthy['record_date'] }}</span></a></td>
                <td>{{ healthy['height'] }}</td>
                <td>{{ healthy['weight'] }}</td>
            </tr>
            {% endfor%}
        </table>
    </div>
    <!--{% for healthy in baby_healthy%}-->
    <!--<a href="{{ url_for('baby.update_healthy',healthy_id=healthy['id']) }}">-->
    <!--<div class="bg-success img-rounded" style="margin:0px 10px 10px">-->
    <!--<p style="font-size:16px;margin:10px 10px 10px 10px">记录日期: &nbsp;-->
    <!--<span style="color:#FF00CC">{{ healthy['record_date'] }}</span>-->
    <!--<br>身高: &nbsp;-->
    <!--<span style="color:#FF00CC">{{ healthy['height'] }}&nbsp;cm</span>-->
    <!--&nbsp;||&nbsp;体重: &nbsp;-->
    <!--<span style="color:#FF00CC">{{ healthy['weight'] }}&nbsp;kg</span>-->
    <!--<br>备注: &nbsp;-->
    <!--<span style="color:#FF00CC">{{ healthy['remarks'] }}</span>-->
    <!--</p>-->
    <!--</div>-->
    <!--</a>-->
    <!--{% endfor%}-->
    <div class="carousel-inner" style="text-align:center;margin:10px 0px 10px">
        <img class="img-rounded" style="max-height:300px" src="../static/img/a1.jpg"/>
    </div>
</div>
<div class="modal fade text-center" id="defaultBaby" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title input-lg" id="myModalLabel">切换宝贝</h4>
            </div>

            <form class="form-horizontal" style="margin:20px 10px 10px"
                  action="{{ url_for('baby.set_default_baby') }}"
                  method="post">
                <div class="form-group">
                    <label for="baby" class="col-xs-4 input-lg">默认宝贝</label>
                    <div class="col-xs-8">
                        <select class="col-xs-9 input-lg" name="baby" id="baby">
                            {% for baby in baby_info %}
                            {% if baby['id'] == g.baby['id'] %}
                            <option class="input-lg" value="{{baby['id']}}" selected>{{baby['baby_name']}}</option>
                            {% else %}
                            <option class="input-lg" value="{{baby['id']}}">{{baby['baby_name']}}</option>
                            {% endif %}
                            {% endfor%}
                        </select>
                    </div>
                </div>
                <div class="form-group text-center">
                    <button type="button" class="btn btn-default btn-lg" data-dismiss="modal">关闭</button>
                    <button type="submit" class="btn btn-primary btn-lg">提交</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<script>
//获取身高体重信息
var height = []
var weight = []
{% for healthy in baby_healthy%}
    height.push({{healthy['height']}})
    weight.push({{healthy['weight']}})
{% endfor%}

//获取元素
var c=document.getElementById("myCanvas");
var ctx=c.getContext("2d");
//绘制Y轴-身高
ctx.moveTo(20,10);
ctx.lineTo(20,200);
ctx.stroke();
ctx.fillText("身高/cm",25,20);
//绘制坐标
var h_location = 50
for( var i=0; i < 3; i++){
    ctx.moveTo(15,150-h_location*i);
    ctx.lineTo(20,150-h_location*i);
    ctx.stroke();
    ctx.fillText(h_location*(i+1),0,150-h_location*i);
}
//绘制Y轴-重量
ctx.moveTo(320,10);
ctx.lineTo(320,200);
ctx.stroke();
ctx.fillText("体重/kg",280,20);
//绘制重量坐标基础间隔
var max_weight = Math.max.apply(Math,weight);
if(max_weight<=15){
    var w_location = 5
    }
else{
    var w_location = 10
    }
//绘制坐标
for( var i=0; i < 3; i++){
    ctx.moveTo(320,150-50*i);
    ctx.lineTo(325,150-50*i);
    ctx.stroke();
    ctx.fillText(w_location*(i+1),327,150-50*i);
}

//绘制X轴
ctx.moveTo(20,200);
ctx.lineTo(310,200);
ctx.stroke();
ctx.font="60px";
ctx.fillText("时间轴",290,215);

//根据基础重量坐标计算重量放大比例
if(w_location==5){
    var size = 10
    }else{
    var size = 5
    }

//绘制数据
for( var i=0; i < height.length; i++){
    ctx.fillStyle="#00FF66";
    ctx.fillRect(30+25*i,200-height[i],10,height[i]);

    <!--ctx.moveTo(20,200-height[i]);-->
    <!--ctx.lineTo(25,200-height[i]);-->
    <!--ctx.stroke();-->

    ctx.fillStyle="#0000FF";
    ctx.fillRect(40+25*i,200-weight[i]*size,10,weight[i]*size);

    <!--ctx.moveTo(315,200-weight[i]*size);-->
    <!--ctx.lineTo(320,200-weight[i]*size);-->
    <!--ctx.stroke();-->

    ctx.fillStyle="#000033";
    ctx.fillText(i+1,35+25*i,215);
}


</script>
{% endblock %}
