{% extends 'base_baby.html' %}

<h1>{% block title %}我的{% endblock %}</h1>
{% block style %}
.ele-center{text-align:center}
{% endblock %}
{% block pageName %}我的宝贝{% endblock %}
{% block content %}
<div class="row clearfix bg-primary img-rounded" style="margin:50px 10px 15px">
    <form role="form" class="form-block" id="loginForm" action="{{ url_for('baby.add_baby_info') }}" method="post">
        <div class="form-group">
            <label for="babyName"></label>
            <input type="text" class="form-control input-lg"
                   placeholder="请输入宝宝名称" name="babyName"
                   id="babyName" value="{{ request.form['babyName'] }}" required/>
        </div>

        <div class="form-group">
            <label for="birthday"></label>
            <input type="text" class="form-control input-lg"
                   placeholder="请输入宝宝生日" name="birthday"
                   id="birthday" value="{{ request.form['birthday'] }}" required/>
        </div>
        <div class="form-group input-lg">
            宝宝性别:
            <label class="radio-inline">
                <input type="radio" name="babySex" id="babySex1" value="1"> 男
            </label>
            <label class="radio-inline">
                <input type="radio" name="babySex" id="babySex2" value="2"> 女
            </label>
        </div>
        <div class="form-group">
            <label for="introduce"></label>
            <textarea type="text" class="form-control input-lg"
                   placeholder="宝贝寄语" name="introduce"
                      id="introduce" value="{{ request.form['birthday'] }}" ></textarea>
        </div>
        <div  class="form-group" >
            <label></label>
            <button type="submit" class="btn btn-block btn-lg">提交</button>
            <a href="{{ url_for('baby.mine') }}">
                <button type="button" class="btn btn-block btn-lg">取消</button></a>

        </div>

    </form>
</div>
{% endblock %}