{% extends 'base_baby.html' %}

<h1>{% block title %}日记{% endblock %}</h1>

{% block pageName %}宝宝日记{% endblock %}
{% block content %}
<div class="row clearfix" style="margin:40px 10px 0px">
</div>
{% for diary in baby_diary%}
<div class="row clearfix bg-primary img-rounded" style="margin:30px 10px 10px">
    <a href="{{ url_for('baby.update_diary',diary_id=diary['id'])}}">
        <div style="margin:10px 0px 10px">
            <div class="col-xs-4 bg-success img-rounded"
                 style="position:relative;left:10px;top:-50px;text-align: center">
                <h5 style="color:red">{{ diary['record_date'] }}</h5>
            </div>

            <div style="margin:30px 20px 20px;">

                <p class="text-left" style="color:#00FF00">
                    {{ diary['diary'] }}</p>
            </div>

            <h5 class="text-right" style="color:#F8F8F8"> -- 来自<span style="color:#33FF00">{{ diary['record_by'] }}</span>的记录</h5>
        </div>
    </a>
</div>
{% endfor%}
<div class="row clearfix " style="margin:30px 10px 40px">
</div>
{% if page['page_count']<=5 and page['page'] !=1 %}
<div class="navbar navbar-fixed-bottom text-right">
    <a href="{{ url_for('baby.diary',page=page['page']-1,page_size=5) }}">
        <button class="" style="margin:10px 30px 120px">
            <i class="fa fa-chevron-up fa-2x" aria-hidden="true"></i>
        </button>
    </a>
</div>
{% endif %}
{% if page['page_count']==5 and page['page_count'] < page['count'] %}
<div class="navbar navbar-fixed-bottom text-right">
    <a href="{{ url_for('baby.diary',page=page['page']+1,page_size=5) }}">
        <button class="" style="margin:10px 30px 70px">
            <i class="fa fa-chevron-down fa-2x" aria-hidden="true"></i>
        </button>
    </a>
</div>
{% endif %}
{% endblock %}