{% extends 'base_baby.html' %}

<h1>{% block title %}健康{% endblock %}</h1>

{% block pageName %}健康管理{% endblock %}
{% block content %}
<div class="row clearfix bg-primary img-rounded" style="margin:50px 10px 15px">
    <form role="form" class="form-horizontal" method="post" style="margin:20px 10px 10px"
          action="{{ url_for('baby.update_healthy',healthy_id=healthy['id']) }}">
        <div class="form-group">
            <label for="record_date" class="col-xs-3 input-lg">日期</label>
            <div class="col-xs-6">
                <input type="date" class="form-control input-lg"
                       placeholder="请输入日期，例如：2019-07-11" name="record_date"
                       id="record_date" value="{{ request.form['record_date'] or healthy['record_date'] }}" required/>
            </div>
        </div>
        <div class="form-group">
            <label for="weight" class="col-xs-3 input-lg">体重</label>
            <div class="col-xs-6">
                <input type="text" class="form-control input-lg"
                       placeholder="请输入体重，单位kg" name="weight"
                       id="weight" value="{{ request.form['weight'] or healthy['weight'] }}" required/>
            </div>
            <b class="input-lg">KG</b>
        </div>
        <div class="form-group">
            <label for="height" class="col-xs-3 input-lg">身高</label>
            <div class="col-xs-6">
                <input type="text" class="form-control input-lg"
                       placeholder="请输入身高，单位cm" name="height"
                       id="height" value="{{ request.form['height'] or healthy['height'] }}" required/>
            </div>
            <b class="input-lg">cm</b>
        </div>
        <div class="form-group">
            <label for="remarks" class="col-xs-3 input-lg">备注</label>
            <div class="col-xs-6">
                <input type="text" class="form-control input-lg"
                       placeholder="请输入备注信息" name="remarks"
                       id="remarks" value="{{ request.form['remarks'] or healthy['remarks'] }}" required/>
            </div>
        </div>
        <div class="form-group text-center">
            <a href="{{ url_for('baby.home') }}">
            <button type="button" class="btn btn-default btn-lg">关闭</button></a>
            <button type="submit" class="btn btn-primary btn-lg">提交</button>
        </div>

    </form>
</div>
{% endblock %}