{% extends 'base_baby.html' %}

<h1>{% block title %}主页{% endblock %}</h1>
{% block pageName %}宝宝主页{% endblock %}
{% block content %}

<div class="row clearfix bg-primary img-rounded"
     style="margin:50px 10px 50px ;overflow:hidden;">
    <h3 class="text-center">健康记录</h3>
    {% for healthy in baby_healthy%}
    <div class="bg-success img-rounded" style="margin:10px 10px 10px">
        <p style="font-size:16px;">记录日期: &nbsp;
        <span style="color:#FF00CC">{{ healthy['record_date'] }}</span>
        <br>身高: &nbsp;
        <span style="color:#FF00CC">{{ healthy['height'] }}&nbsp;cm</span>
        &nbsp;||&nbsp;体重: &nbsp;
        <span style="color:#FF00CC">{{ healthy['weight'] }}&nbsp;kg</span>
        <br>备注: &nbsp;
        <span style="color:#FF00CC">{{ healthy['remarks'] }}</span>
        </p>
    </div>
    {% endfor%}
    <div class="carousel-inner" style="text-align:center;margin:10px 0px 10px">
        <img style="max-height:300px" src="../static/{{img_name}}" />
    </div>
</div>
{% endblock %}