<table class="table table-bordered table-block">
    <tr class="bg-th">
        <td>公司名称</td>
        <td colspan="3" class="text-left">{0}
            <button class="btn-info position-right-20"
                    onclick="getCompanyDetail('{0}')">编辑
            </button>
        </td>
    </tr>
    <tr>
        <td class="bg-td">公司地址</td>
        <td colspan="3" class="text-left">{1}</td>
    </tr>
    <tr>
        <td class="bg-td">联系人</td>
        <td>{2}</td>
        <td class="bg-td">电话</td>
        <td>{3}</td>
    </tr>
    <tr>
        <td class="bg-td">备注</td>
        <td colspan="3" class="text-left">{4}</td>
    </tr>
</table>