<table class="table table-bordered table-block">
    <tr class="bg-th">
        <td>公司名称</td>
        <td colspan="3">{0}</td>
    </tr>
    <tr>
        <td class="bg-td">产品信息</td>
        <td colspan="3">{1}</td>
    </tr>
    <tr>
        <td class="bg-td">总发货量</td>
        <td>{2}</td>
        <td class="bg-td">总销售额</td>
        <td>{3}</td>
    </tr>
    <tr>
        <td class="bg-td">已付款</td>
        <td>{4}</td>
        <td class="bg-td">待付款</td>
        <td>{5}</td>
    </tr>
    <tr>
        <td class="bg-td">提成预估</td>
        <td colspan="3">{6}</td>
    </tr>
</table>