<table class="table table-bordered table-block input-lg">
    <tr  style="background-color:#e9faff;">
        <td>公司名称</td>
        <td colspan="3">{0}</td>
    </tr>
    <tr>
        <td class="nameBg">产品信息</td>
        <td colspan="3">{1}</td>
    </tr>
    <tr>
        <td class="nameBg">总发货量/KG</td>
        <td>{2}</td>
        <td class="nameBg">总销售额</td>
        <td>{3}</td>
    </tr>
    <tr>
        <td class="nameBg">已付款</td>
        <td>{4}</td>
        <td class="nameBg">待付款</td>
        <td>{5}</td>
    </tr>
    <tr>
        <td class="nameBg">提成预估</td>
        <td colspan="3">{6}</td>
    </tr>
</table>