<table class="table table-bordered table-block">
    <tr class="bg-th">
        <td>产品信息</td>
        <td colspan="3">{1}/{2}/{3}</td>
    </tr>
    <tr>
        <td class="bg-td">单价（元）</td>
        <td>{4}</td>
        <td class="bg-td">佣金（%）</td>
        <td >{5}</td>
    </tr>
    <tr>
        <td class="bg-td">备注</td>
        <td colspan="3">{6}
            <button class="btn-info position-right-20"
                    onclick="getProductDetail('{0}')">编辑
            </button>
        </td>
    </tr>
</table>