<div class="modal fade in" id="{0}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: block;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title" id="myModalLabel">产品资料</h4>
            </div>
            <div id="msg" class="text-center"></div>
            <form class="form-horizontal" style="margin:20px 10px 10px" method="post"
                  action="#" >
                <div class="form-group">
                    <label for="new_productName" class="col-xs-4 input-lg">产品名称</label>
                    <div class="col-xs-8">
                        <input type="text" class="form-control input-lg"
                               placeholder="请输入产品名称" name="new_productName"
                               id="new_productName" value="{2}" required/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="new_productType" class="col-xs-4 input-lg">产品型号</label>
                    <div class="col-xs-8">
                        <input type="text" class="form-control input-lg"
                               placeholder="请输入产品型号" name="new_productType"
                               id="new_productType" value="{3}" required/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="new_unit" class="col-xs-4 input-lg">产品单位</label>
                    <div class="col-xs-8">
                        <input type="text" class="form-control input-lg"
                               placeholder="产品单位：KG/桶" name="new_unit"
                               id="new_unit" value="{4}" required/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="new_price" class="col-xs-4 input-lg">单价(元)</label>
                    <div class="col-xs-8">
                        <input type="text" class="form-control input-lg"
                               placeholder="产品单价" name="new_price"
                               id="new_price" value="{5}" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="new_rate" class="col-xs-4 input-lg">佣金(%)</label>
                    <div class="col-xs-8">
                        <input type="text" class="form-control input-lg"
                               placeholder="佣金比例" name="new_rate"
                               id="new_rate" value="{6}" />
                    </div>

                </div>
                <div class="form-group">
                    <label for="new_remarks" class="col-xs-4 input-lg">备注</label>
                    <div class="col-xs-8">
                <textarea class="form-control input-lg" placeholder="备注" name="new_remarks"
                          id="new_remarks">{7}</textarea>
                    </div>
                </div>
                <div class="form-group text-center">
                    <button type="button" class="btn btn-danger btn-lg  margin-0-10-0" onclick="getProductDeleteModal('{1}')">删除</button>
                    <button type="button" class="btn btn-default btn-lg  margin-0-10-0" onclick="updateProductRemove()">关闭</button>
                    <button type="button" class="btn btn-primary btn-lg  margin-0-10-0" onclick="updateProduct('{1}')">提交</button>
                </div>
            </form>
        </div>
    </div>
</div>

