<table class="table table-bordered table-block input-lg">
    <tr  style="background-color:#e9faff;">
        <td>产品信息</td>
        <td colspan="3">{1}/{2}/{3}</td>
    </tr>
    <tr>
        <td class="nameBg">单价（元）</td>
        <td>{4}</td>
        <td class="nameBg">佣金（%）</td>
        <td >{5}</td>
    </tr>
    <tr>
        <td class="nameBg">备注</td>
        <td colspan="3">{6}
            <button class="btn btn-info" style="position:absolute;right:20px;"
                    onclick="getProductDetail('{0}')">编辑
            </button>
        </td>
    </tr>
</table>