<table class="table table-bordered table-block">
    <tr class="bg-th">
        <td>公司名称</td>
        <td colspan="3" class="text-left">{1}
            <button class="btn-info position-right-20"
                    onclick="getShipDetail({0})">编辑</button>
        </td>
    </tr>
    <tr>
        <td class="bg-td">发货时间</td>
        <td class="text-left" colspan="3">{2}</td>
    </tr>
    <tr>
        <td class="bg-td">产品信息</td>
        <td class="text-left" colspan="3">{3}</td>
    </tr>
    <tr>
        <td class="bg-td">发货数量</td>
        <td>{4}</td>
        <td class="bg-td">总价</td>
        <td>{5}</td>
    </tr>
    <tr>
        <td class="bg-td">已付金额</td>
        <td>{6}</td>
        <td class="bg-td">未付金额</td>
        <td>{7}</td>
    </tr>
    <tr>
        <td class="bg-td">备注</td>
        <td colspan="3" class="text-left">{8}</td>
    </tr>
</table>