<table class="table table-bordered table-block input-lg">
    <tr style="background-color:#e9faff;">
        <td>公司名称</td>
        <td colspan="3" class="text-left">{1}
            <button class="btn btn-info" style="position:absolute;right:20px;"
                    onclick="getShipDetail({0})">编辑</button>
        </td>
    </tr>
    <tr>
        <td class="nameBg">发货时间</td>
        <td class="text-left" colspan="3">{2}</td>
    </tr>
    <tr>
        <td class="nameBg">产品信息</td>
        <td class="text-left" colspan="3">{3}</td>
    </tr>
    <tr>
        <td class="nameBg">发货数量</td>
        <td>{4}</td>
        <td class="nameBg">总价</td>
        <td>{5}</td>
    </tr>
    <tr>
        <td class="nameBg">已付金额</td>
        <td>{6}</td>
        <td class="nameBg">未付金额</td>
        <td>{7}</td>
    </tr>
    <tr>
        <td class="nameBg">备注</td>
        <td colspan="3" class="text-left">{8}</td>
    </tr>
</table>