{% extends 'base_baby.html' %}

<h1>{% block title %}我的{% endblock %}</h1>

{% block pageName %}配置修改{% endblock %}
{% block content %}
<div class="row clearfix img-rounded" style="margin:50px 10px 15px">
    <form role="form" class="form-horizontal"
          action="{{ url_for('mine.update_config', config_id=this_config['id']) }}"
          method="post" style="margin:10px 10px 10px">
        <div class="form-group">
            <label for="configKey" class="col-xs-3 input-lg">关键字</label>
            <div class="col-xs-9">
                <input type="text" class="form-control input-lg"
                       placeholder="请输入关键字" name="configKey"
                       id="configKey" value="{{ request.form['configKey'] or this_config['key']}}" required/>
            </div>
        </div>
        <div class="form-group">
            <label for="configValue" class="col-xs-3 input-lg">参数值</label>
            <div class="col-xs-9">
                <textarea type="text" class="form-control input-lg"
                          placeholder="请输入参数值" name="configValue"
                          id="configValue" required>{{ request.form['configValue'] or this_config['value'] }}</textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="remarks" class="col-xs-3 input-lg">备注</label>
            <div class="col-xs-9">
                <textarea type="text" class="form-control input-lg"
                          placeholder="请输入备注" name="remarks"
                          id="remarks">{{ request.form['remarks'] or this_config['remarks'] }}</textarea>
            </div>
        </div>
        <div class="form-group text-center">
            <button class="btn btn-lg bg-danger"
                    data-toggle="modal" data-target="#deleteConfig">删除
            </button>
            <button type="submit" class="btn btn-primary btn-lg">提交</button>
        </div>
    </form>
    <div class="row clearfix img-rounded" style="margin:10px 10px 15px;height:auto">
        <div class="col-xs-12 text-center" style="margin:10px 0 10px">
            <a href="{{ url_for('mine.config')}}">
            <button type="button" class="btn btn-default btn-lg" data-dismiss="modal">关闭</button>
        </a>
        </div>
    </div>
</div>
<div class="modal fade" id="deleteConfig" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title input-lg" id="myModalLabel">温馨提示</h4>
            </div>
            <div class="modal-body input-lg">确定删除该配置项吗？</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-block btn-lg " data-dismiss="modal">取消</button>
                <form action="{{ url_for('mine.delete_config', config_id=this_config['id']) }}" method="post">
                    <button class="btn btn-lg btn-block bg-danger" type="submit">确定</button>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
{% endblock %}