
<!doctype html>
<div class="modal fade text-center" id="{% block modal-id %}{% endblock %}" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">{% block modal-header %}{% endblock %}</h4>
            </div>
           {% block modal-center %}{% endblock %}
            {% block modal-foot %}{% endblock %}
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->