<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>个人中心</title>
    <script type="text/javascript" src="../static/js/header.js" charset="utf-8"></script>

</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="navbar-header">
        <div class="col-xs-12 bg-info text-center margin-down-10">
            <label class="input-lg">产品列表</label>
        </div>
        <div class="col-xs-6 text-center margin-down-10">
            <button class="btn btn-primary btn-lg" data-toggle="modal"
                    data-target="#searchModal">搜索
            </button>
        </div>
        <div class="col-xs-6 text-center margin-down-10">
            <button class="btn btn-primary btn-lg" data-toggle="modal"
                    data-target="#addProduct">新产品
            </button>
        </div>
    </div>

</nav>
<div class="container  margin-top">
    <div class="row">
        <div class="col-xs-12 text-center margin-down-10" id="center">

        </div>
    </div>
</div>
<div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">搜索</h4>
            </div>
            <form class="form-horizontal margin-20-10-10">
                <div class="form-group">
                    <div class="col-xs-12 margin-10-0-10">
                        <input type="text" id="searchText" class="input-lg input-block" placeholder="产品名称/型号">
                    </div>
                </div>
            </form>
            <div class="modal-footer">
                <div class="col-xs-3 text-center">
                    <button class="btn btn-default" onclick="resetText()">重置</button>
                </div>
                <div class="col-xs-3 text-center ">
                    <button class="btn btn-primary" onclick="clickSearch()">搜索</button>
                </div>
                <div class="col-xs-3 text-center">
                    <button class="btn btn-primary" onclick="exportProduct('产品数据')">下载
                    </button>
                </div>
                <div class="col-xs-3 text-center">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>


            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<div id="modal"></div>
<div id="productDetail"></div>
<div id="productDelete"></div>

<div hidden>
    <div id="navDownload"></div>
    <div id="export" hidden></div>
    <div id="productTableDemo" hidden></div>
    <div id="productDetailDemo" hidden></div>
    <div id="productDeleteDemo" hidden></div>
</div>
<script>
    $("#modal").load("common/addProduct.html");
    $("#productTableDemo").load("common/productTable.html");
    $("#productDetailDemo").load("common/productDetail.html");
    $("#productDeleteDemo").load("common/productDelete.html");

</script>
<script src="../static/js/product.js"></script>
<script>
    $(document).ready(function () {
        // var searchText = document.getElementById('searchText').value;
        searchProduct()
    });

</script>
</body>

</html>