<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1,-->
    <!--maximum-scale=1, user-scalable=no">-->
    <title>供货管理</title>
    <link href="../static/css/font-awesome.min.css" rel="stylesheet">
    <script type="text/javascript" src="../static/js/header.js" charset="utf-8"></script>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="navbar-header">
        <div class="col-xs-12 bg-info text-center margin-down-10">
            <label class="input-lg">供货列表</label>
        </div>
        <div class="col-xs-4 text-center margin-down-10">
            <button class="btn btn-primary btn-lg" data-toggle="modal"
                    data-target="#searchModal">搜索
            </button>
        </div>
        <div class="col-xs-4 text-center margin-down-10">
            <button class="btn btn-primary btn-lg" data-toggle="modal"
                    data-target="#addProduct">新产品
            </button>
        </div>
        <div class="col-xs-4 text-center margin-down-10">
            <button class="btn btn-primary btn-lg" data-toggle="modal"
                    data-target="#addShip">供货
            </button>
        </div>

    </div>
</nav>
<div class="container  margin-top">
    <div class="row">
        <div class="col-xs-12 text-center margin-down-10" id="center">

        </div>
    </div>
</div>

<div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">搜索</h4>
            </div>
            <form class="form-horizontal margin-20-10-10">
                <div class="form-group">
                    <div class="col-xs-3">
                        <label for="startDate">开始：</label></div>
                    <div class="col-xs-9">
                        <input type="date" class="form-control input-lg" id="startDate">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-3">
                        <label for="endDate">结束：</label></div>
                    <div class="col-xs-9">
                        <input type="date" class="form-control input-lg" id="endDate">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-3 text-left">
                        <label for="isPay">状态：</label></div>
                    <div class="col-xs-9">
                        <select class="input-lg" id="isPay">
                            <option value="0">全部</option>
                            <option value="1">未支付</option>
                            <option value="2">已支付</option>
                            <option value="3">部分支付</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">

                    <div class="col-xs-3 text-left">
                        <label for="searchCompany">公司：</label></div>
                    <div class="col-xs-9">
                        <input type="text" class="form-control input-lg" id="searchCompany">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-3 text-left">
                        <label for="searchProduct">产品：</label></div>
                    <div class="col-xs-9">
                        <input type="text" class="form-control input-lg" id="searchProduct">
                    </div>
                </div>
            </form>
            <div class="modal-footer">
                <div class="col-xs-3 ">
                    <button class="btn btn-default" onclick="resetDate()">重置</button>
                </div>
                <div class="col-xs-3 ">
                    <button class="btn btn-primary" onclick="clickSearchShips()">搜索</button>
                </div>
                <div class="col-xs-3 ">
                    <button class="btn btn-primary" onclick="exportShip('供货记录')">下载
                    </button>
                </div>
                <div class="col-xs-3 ">
                    <button type="button" class="btn btn-defaul" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal"></div>
<div id="productModal"></div>
<div id="shipDetail"></div>
<div id="shipDelete"></div>
<div hidden>
    <div id="navDownload"></div>
    <div id="export" hidden></div>
    <div id="shipTableDemo" hidden></div>
    <div id="shipDetailDemo" hidden></div>
    <div id="shipDeleteDemo" hidden></div>
</div>
<script>
    $("#modal").load("common/addShip.html");
    $("#productModal").load("common/addProduct.html");
    $("#shipTableDemo").load("common/shipTable.html");
    $("#shipDetailDemo").load("common/shipDetail.html");
    $("#shipDeleteDemo").load("common/shipDelete.html");
    $(document).ready(function () {
        var startDate = document.getElementById('startDate').value;
        var endDate = document.getElementById('endDate').value;
        searchShips(startDate,endDate);

    });




</script>
<script type="text/javascript" src="../static/js/save.js" charset="utf-8"></script>
<script src="../static/js/product.js" type="text/javascript"></script>
</body>
<script src="../static/js/ship.js" type="text/javascript"></script>

</html>